body{
    font-family: Arial;
    text-align:center;
    background-color:#f4f6f8;
}

.container{
    margin-top:30px;
}

.role-btn{
    padding:15px 30px;
    margin:10px;
    font-size:18px;
    background-color:#007bff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.role-btn:hover{
    background-color:#0056b3;
}

.logout-btn{
    padding:10px 20px;
    background-color:red;
    color:white;
    border:none;
    border-radius:6px;
}