body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#667eea,#764ba2);
}

/* Login Card */
.login-container{
    background:white;
    padding:40px;
    width:350px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.login-container h2{
    margin-bottom:20px;
    color:#333;
}

/* Inputs */
input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

/* Button */
button{
    width:100%;
    padding:12px;
    background:#667eea;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#5563c1;
}
.dashboard{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:12px;
    width:500px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.menu a{
    display:block;
    margin:15px;
    padding:12px;
    background:#667eea;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.menu a:hover{
    background:#5563c1;
}
/* Floor Page */

.floor-container{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:12px;
    width:600px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.floor-cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.floor-card{
    text-decoration:none;
    background:#667eea;
    color:white;
    padding:30px;
    width:120px;
    border-radius:10px;
    font-size:20px;
    transition:0.3s;
}

.floor-card:hover{
    background:#5563c1;
    transform:scale(1.05);
}

.back-btn{
    text-decoration:none;
    background:#444;
    color:white;
    padding:10px 20px;
    border-radius:6px;
}